
.address{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 60%;
    
} 
#delivAdd{
    /* border: 1px solid red; */

    /* display: flex; */
    justify-content: space-between;
    /* width: 60%; */
    font-family: sans-serif;
    align-items: center;
    padding-right: 10px;
    /* color: aqua; */
}

.change a{

    /* border: 1px solid red; */

    text-decoration: none;
    color: rgb(0,188,208);
    font-size: 18px;
    font-family: sans-serif;

}

.home-lock{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    color: rgb(108,181,183);
}

.appended-add .location-img img{
    width: 20px;
}
.addres-para{
    padding-left: 20px;
    /* border: 1px solid rebeccapurple; */
}


/************************** UPI style start here *******************/

.paymentData{
    /* border: 1px solid red; */
    display: flex;
    width: 122%;
  /* justify-content:space-evenly ; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  gap: 20px;
}

.payment-list li {
    /* border: 1px solid red; */
    width: 200px;
    margin: 3px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color:rgb(247,247,247);
    
}
.first-list{
    border: 1px solid rgb(47, 78, 255);
    /* background-color: rgb(199, 29, 29); */
   
}
.payment-list ul li button{

   text-decoration: none;

    border: 1px solid white;

 
    padding: 10px;
    color: rgb(101, 100, 100);
    /* line-height: 60px; */

    text-decoration: none;

    font-size: 17px;
    margin: 4px 2px;
    width: 200px;
    
   
    font-family: sans-serif;
}

.payment-list ul li a:hover{
 
    color: black;
    background-color: white;
}
.payment-list ul li:hover{
    background-color: white;
}
/* New UPI style here */
.input-upi-id{
    display: flex;
    gap: 15px;
}

.enterUpi input[type="text"]{

    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px ;
}

#verify{

    border: 1px solid white;
    padding: 12px 15px;
    width: 90px;
    border-radius: 15px;
    font-size: medium;
    cursor: pointer;
    color: white;
    background-color: rgb(255,137,20);
}
.check-box{
    margin-top: 10px;
}

#kyc{
    display: flex;
    gap: 20px;

    margin-top: 20px;
}
.kyc-code button{

    border: 1px solid rgb(196, 188, 188);
    padding: 12px 15px;
    color:rgb(49, 46, 46) ;
    border-radius: 5px;
    cursor: pointer;
}
#securely-payment{
   
    /* border: 1px solid firebrick; */
    text-align: center;
    margin-top: 50px;
    padding: 12px 15px;
    border-radius: 15px;
    background-color: rgb(219,222,232);
    /* transition: .2s linear; */
}

#securely-payment a{
    text-decoration: none;
    color: rgba(164, 164, 168, 0.845);
    transition: .2s linear;
}
#securely-payment button:a{
    opacity: .8;
    letter-spacing: 2px;
}

#securely-pay{

    border: none;
    width: 100%;
    padding: 13px 15px;
    /* border-radius: ; */

   background-color: rgb(219,222,232)

    
}

/*********************** UPI Style end here ***********************************/



/* ***********Debit style start here*************** */

.enterName-card input[type="text"]{

    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px ;
}

#debit-card-num input[type="text"]{

    border: 1px solid rgb(196, 188, 188);
    width: 350px;
    padding: 12px 15px;
    border-radius: 15px ;
    margin-top: 20px;
}
.debitcard-info{

    display: flex;

    gap: 25px;

    margin-top: 20px;
}
.debitcard-info #expiry-month{

   border: 1px solid rgb(196, 188, 188);

    padding: 12px 12px;

    border-radius: 10px;

}

.debitcard-info #expiry-year{

   border: 1px solid rgb(196, 188, 188);

    padding: 12px 12px;

    border-radius: 10px;

}

#cvv-num{
 
     padding: 14px 15px;

     border-radius: 10px; 
    width: 50px;

    border: 1px solid rgb(196, 188, 188); 
}


/***** Cash On style start here***** */

.cashpage{

    display: flex;
    /* border: 1px solid red; */
    gap: 7px;
    font-family: sans-serif;
    border: 1px solid rgb(201, 196, 196);
    border-radius: 5px;
    padding-left: 10px;
    
}
.cashpage img{
     /* border: 1px solid red; */
     padding-top: 7px;
}

.cashpara{
    width:300px ;
}
.sureAdd{
    /* border: 1px solid red; */

    width: 500px;
    padding-left: 70px;
    

}
.sureAdd span{
    color: rgb(72, 70, 70);
}
.confirm-order{
    z-index: 9999;
    /* position: fixed;  */
   
}
#butcash{

    /* border: 1px solid red; */
     font-size: 20px;
    margin: 30px;
    padding: 20px 20px;
    border-radius: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 200px;
    font-family: sans-serif;
    cursor: pointer;

    color: rgb(211, 207, 207); 
}


.popup {
   
    width: 400px;
   
    background-color: #fff;

    color: #333 ;
    padding: 0 30px 30px;
    text-align: center;
    position: absolute;
    top: 0;
    left:50% ;
    transform: translate(-50%,-50%) scale(1);
    border-radius: 6px;
    visibility: hidden;
    transition: transform 0.4s, top 0.2s;
    
  }

  .open-popup{

    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

  }
  .popup img{
    width: 100px;
    margin-top: -50px;

    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  }
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

  }
  
  
  .popup button {
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 50px ;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  }
  
  

  .payment-method{
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-between;
    
  }
  .demo{
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  /* order-summary style */

  #orderSummary {
    /* width: 33%; */
    height: 300px;
    min-width: 33%;
    border-radius: 8px;
    background-color: white;
    line-height: 25px;
    padding: 20px;
}

#orderSummary p,h2{
    font-size: 18px;
}
#orderSummary>h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

#orderSummary>div {
    display: flex;
    justify-content: space-between;
}

#orderSummary>hr {
    margin: 5px 0;
}
.green{
    color: green;
}
.gray{
    color: rgb(110, 110, 110);
}