 
*{
    /* margin: 0; */
    box-sizing: border-box;

    /* background-color:rgb(244,244,244) */

}
/* first navbar start************************************ */
nav {

    display: flex;

    /* width: 80%; */

    height: 100px;

    /* border: 1px solid red; */

    justify-content: space-evenly;
    padding-top: 10px;

    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    ;

    /* justify-content: center; */
}

.imgInput {
    display: flex;
    justify-content: space-evenly;
    /* padding-right: 100px; */

    width: 80%;
    /* border: 1px solid red; */

    align-items: center;

    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;; */
}

.loginCart {
    display: flex;

    width: 40%;
    justify-content: space-evenly;
    padding-top: 10px;


}


form.example input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 600px;
    background: #f1f1f1;

    margin-top: 10px;
    border-radius: 10px;
    /* background-color: rebeccapurple; */

    /* border: 1px solid red; */
}

form.example button {
    float: left;
    width: 100px;
    padding: 20px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#logoImg img {
    width: 150px;

    /* height: 100px; */
    /* border: 1px solid blue; */

    /* padding-top: 500px; */

    /* margin-top: 70px; */


}

#login button {

    /* background-color: #4CAF50; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(12, 176, 176);
}

#cart button {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    ;
    background-color: rgb(12, 176, 176);
    font-family: sans-serif;

}
/* navbar end*************************************************** */

/* *******************************************second navbar */
#subLowerNavBar {
    margin: 20px auto;
    width: 85%;
    /* background-color: rgb(255, 255, 255); */
  }
  #subLowerNavBar > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #subLowerNavBar > ul > li > a {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
  }
  #subLowerNavBar > ul > li > a:hover {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    /* cursor: pointer; */
  }
  /* #subLowerNavBar > ul > li:hover {
    border-bottom: 2px solid rgb(244, 51, 151);
  } */
  
  .dropDownDivItems {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  .dropDownDiv {
    width: 98%;
    margin: auto;
    margin-top: 2px;
    right: 0%;
    left: 0%;
    transition: 0.5s;
    position: absolute;
    display: none;
    background-color: white
    /* border: 1px solid rgb(160, 158, 158); */
  }
  #subLowerNavBar > ul > li:hover .dropDownDiv {
    display: block;
  }
  ul,
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .dropDownDivItems > div > h4 {
    font-size: 20px;
    color: rgb(60, 58, 58);
    font-weight: 600;
    line-height: 20px;
    font-family: "Mier demi";
  }
  .dropDownDivItems > div > ul > li > a {
    font-size: 17px;
    color: rgb(102, 102, 102);
    font-weight: 450;
    line-height: 33px;
    
  }
  .dropDownDivItems > div > ul > li > a:hover {
    text-decoration: underline;

    
  }
  /* *******************second navbar end */




#main{
    display: flex;
}
#main >div{
    width: 45%;
    
   margin-left: auto;
 padding: 5px;
 
}
#pic{
    margin-top: 20px;
}
#data>p{
    margin-top: 0;
}
#serve{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(87, 78, 78);
    text-align: center;
    padding: 30px;
    background-color: rgb(234, 234, 234);
}
#pnb{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(212, 194, 194);
}

#pic>img{
    width: 70%;
    
}
#pic>img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
.per{
    text-decoration: line-through;color:#5a4c4c;
}
.rating{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.catt{
    margin-top: 0;
    margin-bottom: 0;
}
#per{
    color: green;
    
    padding-left: 10px;
}
#priceanddiscount{
    display: flex;
}
#priceanddiscount>h3{
    margin-top: 0;
}
#priceanddiscount >p{
    margin-top: 0;
    padding-top: 6px;
    margin-right: 10px;
    font-size: x-small;
}
#ship{
    display: flex;

}
#ship >h6{
   
    margin-right: 20px;
}

#buy{
    display: flex;
}

#addcart{
    color: orange;
    border: 1px solid orange;
    padding: 4px 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   font-weight: bold;
    margin: 10px;
    border-radius: 8px;
    
}
#quan>button{
    border-radius: 5px;
    margin: 13px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid orange;
}
#quickbuy{
    color: white;
    border: 1px solid orange;
    background-color: rgb(243, 154, 10);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 4px 30px;
    margin: 10px;
    border-radius: 8px;
    font-weight: bold;
}

#flavour>button{
padding: 10px;
color: orange;
border: 1px solid orange;
margin: 5px;
    border-radius: 5px;
}
#offershow>div{
    display: flex;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(47, 41, 41);
    margin-bottom: 10px;
}
#offershow>div>img{
   height: 30px;
   margin-top: 15px;
   padding-right: 10px;
}
#delivery{
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(115, 115, 115);
}
#fssai{
    display: flex;
}
#fssai>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgb(170, 170, 170);
    margin: auto;
    padding-top: 10px;
    margin-top: 0;
    width: 50%;
}
#fssai>div:nth-child(2){
    padding-bottom: 10px;
}
#info{
    display: flex;
    margin: auto;
    justify-content: space-around;
}
#s-info>img{
    
    width: 90%;
    margin: 10px;
    height: 800px;
}
#s-info{
    padding: 10px;
   width: 60%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#p-info{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    margin: 0;
}
#p-info>div>div{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
#p-info>div>div>p{
   margin-bottom: 0;
    
}
/* footer start ************************************************************/
.footer-info {
    /* border: 1px solid red; */

    display: flex;
    /* justify-content: center; */

    padding-top: 50px;

    color: white;
    justify-content: space-evenly;
    background-color: rgb(13, 33, 34);


}

.aboutUs li {
    list-style: none;

}

.aboutUs li a {
    border: none;
    color: white;
    line-height: 30px;
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-align: justify; */
    text-decoration: none;

    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    ;
    /* background-color: rgb(12, 176, 176); */
    font-family: sans-serif;
}

.aboutUs li a:hover {
    border: 1px solid white;
}


.brand-foot li {
    list-style: none;

}

.brand-foot li a {
    border: none;
    color: white;
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-align: justify; */
    text-decoration: none;
    line-height: 30px;

    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    ;
    /* background-color: rgb(12, 176, 176); */
    font-family: sans-serif;
}

.brand-foot li a:hover {
    border: 1px solid white;
}

.health li {
    list-style: none;

}

.health li a {
    border: none;
    color: white;
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-align: justify; */
    text-decoration: none;
    line-height: 30px;

    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    ;
    /* background-color: rgb(12, 176, 176); */
    font-family: sans-serif;
}

.health li a:hover {
    border: 1px solid white;
}

.quick li {
    list-style: none;

}

.quick li a {
    border: none;
    color: white;
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-align: justify; */
    text-decoration: none;
    line-height: 30px;

    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    ;
    /* background-color: rgb(12, 176, 176); */
    font-family: sans-serif;
}

.quick li a:hover {
    border: 1px solid white;
}

.contact-us {
    align-items: center;
    line-height: 30px;

}


#footer {

    background-color: rgb(13, 33, 34);
    ;
}

.footer-img {

    display: flex;
    gap: 10px;

    padding-left: 190px;
    margin-top: 30px;
    padding-bottom: 20px;
    /* border: 1px solid red; */
    /* width: 400px; */
}

.mesg-class {
    display: flex;
    padding-top: 10px;
    gap: 5px;
}

.mesg-class div a {
    color: white;
}

.call-class {
    display: flex;
    gap: 5px;
}

.call-class div a {
    color: wheat
}

/* subscribe-part here */

.subscribe {
    /* border: 1px solid
     red; */
    width: 350px;
    background-color: white;

    color: black;
    height: 400px;
    padding: 30px;
    font-family: sans-serif;
}






form.email {
    margin-top: 10px;
}

form.email input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 200px;
    background: #f1f1f1;


    margin-top: 10px;
    border-radius: 10px;
    /* background-color: rebeccapurple; */

    /* border: 1px solid red; */
}

/* form.email button {
     float: left;
    width: 10px;
    padding: 20px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer; 
  } */

form.email button:hover {
    background: #0b7dda;
}

form.email::after {
    content: "";
    clear: both;
    display: table;
}

.offers-img {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.offers-img div img {
    width: 70px;
}

.offers {
    padding-top: 10px;
}

.social-media-img {

    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.social-media-img i {
    /* border: 1px solid red; */
    font-size: 25px;
}

.download-app {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.download-appstore {
    /* border: 1px solid red; */
    padding-top: 10px;
}

.download-app img {

    width: 100px;
}

